/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Zen+Dots&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: hsl(11, 72%, 55%);
  --first-color-dark: hsl(11, 63%, 50%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --body-color: hsl(180, 12%, 8%);
  --container-color: hsl(180, 6%, 12%);

  --body-font: 'Space Grotesk', sans-serif;
  --second-font: 'Zen Dots', sans-serif;

  --big-font-size: 5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  --font-regular: 400;
  --font-semibold: 600;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    --big-font-size: 2rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 150%;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

/*=============== REUSABLE CSS ===============*/
.main-logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--text-color);
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
}

.main-logo-img {
  width: 20px;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1.25rem 2rem;
  color: var(--title-color-black);
  font-weight: var(--font-semibold);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--first-color-dark);
}

.button-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.3s;
}

.button-flex:hover i {
  transform: translateX(0.25rem);
}

/* FIXED */
#choose {
  background-color: var(--first-color);
  color: var(--title-color-black);
  padding: 1.25rem 2rem;
  border-radius: 4px;
  font-weight: var(--font-semibold);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: background-color 0.3s, transform 0.2s;
}

#choose:hover {
  background-color: var(--first-color-dark);
}

.section {
  padding-top: 8rem;
}

.section-title {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.section-title::before {
  content: attr(data-title);
  display: block;
  color: var(--first-color);
  font-size: var(--h3-font-size);
  transform: rotate(-2deg);
  margin-bottom: 0.75rem;
}

.title-center {
  text-align: center;
}

.description {
  max-width: 460px;
  margin-bottom: 3rem;
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-first {
  color: var(--first-color);
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1124px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.home-container,
.calculate-container {
  grid-template-columns: 7fr 5fr;
  align-items: center;
}

/*=============== HEADER ===============*/
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s;
}

.nav,
.nav-list {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
  height: 5.5rem;
}

.nav-link,
.nav-close,
.nav-toggle {
  color: var(--text-color);
}

.nav-list {
  column-gap: 4rem;
}

.nav-link {
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-button {
  background-color: var(--text-color);
  color: var(--body-color);
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
}

.nav-toggle,
.nav-close {
  display: none;
}

.active-link {
  color: var(--first-color);
}

.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(180, 12%, 4%, 0.3);
}

.main {
  overflow: hidden;
}

/*=============== HOME ===============*/
.home-container {
  padding-top: 2rem;
}

.home-data {
  padding-top: 4rem;
}

.home-subtitle {
  color: var(--first-color);
  font-size: var(--h1-font-size);
}

.home-title {
  font-size: var(--big-font-size);
  margin-block: 0.75rem 1.5rem;
}

/*=============== LOGOS ===============*/
.logos {
  padding-block: 3.5rem 1rem;
}

.logos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 2rem;
}

.logo-img {
  width: 190px;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.logo-img:hover {
  filter: grayscale(0);
}

/*=============== CHOOSE US & CALCULATE ===============*/
.choose-container,
.calculate-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.choose-timing {
  background-color: var(--first-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.choose-timing-title,
.choose-time {
  color: var(--title-color-black);
  text-align: center;
}

.choose-data,
.calculate-form {
  display: grid;
  gap: 2.5rem;
}

.choose-no {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}

.choose-data-subtitle {
  font-size: var(--small-font-size);
}

/*=============== PROGRAM ===============*/
.program-container,
.pricing-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
}

.program-card,
.pricing-card {
  --min-width: 305px;
  flex: 1 1 0;
  min-width: var(--min-width);
  max-width: calc(33.33% - 1rem);
  background-color: var(--container-color);
  padding: 2rem;
  transition: background 0.3s;
}

.program-no {
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  color: var(--first-color);
}

.program-title {
  font-size: var(--h3-font-size);
  margin-block: 1rem;
}

.program-card:hover {
  background-color: var(--first-color);
}

.program-card:hover :is(.program-no, .program-title, .program-description) {
  color: var(--title-color-black);
}

/*=============== PRICING ===============*/
.pricing-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.pricing-no {
  font-size: var(--h2-font-size);
}

.pricing-list {
  margin-block: 2.5rem;
}

.pricing-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.pricing-item i {
  color: var(--first-color);
  font-size: 1.25rem;
}

.pricing-button {
  display: flex;
  background-color: var(--title-color);
}

.pricing-button:hover {
  background-color: var(--title-color);
}

.pricing-card-active {
  background-color: var(--first-color);
}

.pricing-card-active * {
  color: var(--title-color-black);
}

/*=============== CALCULATE FORM ===============*/
.calculate-form {
  --column: 2;
  gap: 1rem;
}

.calculate-box {
  position: relative;
  border: 2px solid var(--text-color);
}

.calculate-input {
  width: 100%;
  padding: 1.25rem 3.5rem 1.25rem 1.5rem;
}

.calculate-label {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  color: var(--title-color);
}

.calculate-form .button {
  grid-column: 1/3;
}

.calculate-input[type='number']::-webkit-inner-spin-button,
.calculate-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.calculate-input[type='number'] {
  -moz-appearance: textfield;
}

.calculate-message {
  position: absolute;
  transform: translateY(1rem);
}

.calculate-images {
  border-radius: 0 0 100vw 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.calculate-images::before {
  content: '';
  position: absolute;
  inset: auto 0 0;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--first-color);
}

.calculate-img {
  width: clamp(13rem, 6.6934rem + 17.5182vw, 19rem);
  z-index: 10;
  position: relative;
}

/*=============== MARQUEE FIX ===============*/
.marquee-bg {
  background-color: var(--first-color);
  padding-block: 1.75rem;
  overflow: hidden;
}

.marquee-bg,
.marquee-list,
.marquee-item {
  display: flex;
  --gap: 1.75rem;
  column-gap: var(--gap);
}

.marquee-list {
  flex-shrink: 0;
  animation: marquee 18s linear infinite;
}

.marquee-item {
  align-items: center;
  color: var(--title-color-black);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
}

.marquee-item i {
  font-size: 1.25rem;
}

/* FIXED KEYFRAMES */
@keyframes marquee {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.footer {
  padding-bottom: 3rem;
}

.footer-container,
.footer-content {
  grid-template-columns: repeat(var(--column), max-content);
}

.footer-container {
  --column: 2;
  justify-content: space-between;
}

.footer-content {
  --column: 3;
  column-gap: 5rem;
}

.footer-logo {
  margin-bottom: 1.5rem;
}

.footer-description {
  margin-bottom: 2rem;
}

.footer-form,
.footer-socials {
  display: flex;
}

.footer-form {
  gap: 1.25rem;
}

.footer-input {
  padding: 1.25rem 3.5rem 1.25re 1.5rem;
  border: 2px solid var(--text-color);
}

.footer-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer-links li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.footer-link {
  color: var(--text-color);
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--first-color);
}

.footer-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
}

.footer-copy {
  font-size: var(--small-font-size);
}

.footer-socials {
  column-gap: 1.25rem;
}

.footer-social-link {
  display: inline-flex;
  padding: 0.35rem;
  background-color: var(--first-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--title-color-black);
  transition: background 0.3s;
}

.footer-social-link:hover {
  background-color: var(--first-color-dark);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(79, 4% 15%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(79, 4% 25%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(79, 4% 35%);
}

.scrollup {
  position: fixed;
  right: 3rem;
  bottom: -30%;
  background-color: var(--first-color);
  display: inline-flex;
  padding: 0.40rem;
  color: var(--title-color-black);
  font-size: 1.25rem;
  z-index: 100;
  transition: 0.3s;
}

.scrollup:hover {
  background-color: var(--first-color-dark);
  transform: translateY(-0.25rem);
}

.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1024px) {
  .choose-container .calculate-container {
    column-gap: 4rem;
  }

  .footer-content {
    column-gap: 3.5ren;
  }

  .scrollup {
    right: 1rem;
  }

}


@media screen and (max-width: 1024px) {
  .nav {
    height: 3.5rem;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    border-left: 2px solid var(--text-color);
    background-color: hsl(180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    width: 50%;
    height: 100%;
    transition: right 0.3s;
  }

  /* Show menu */
  .show-menu {
    right: 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2.5rem;
    padding: 5rem 0 0 3rem;
  }

  .nav-close,
  .nav-toggle {
    display: inline-flex;
    cursor: pointer;
  }

  .nav-close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  .nav-toggle {
    font-size: 1.25rem;
  }

  .section {
    padding-top: 6rem;
  }

  .home-img {
    width: 320px;
    margin-inline: auto;
  }

  .logo-img {
    width: 120px;
  }

  .choose-container,
  .choose-container {
    column-gap: 2.5rem;
  }

  .choose-timing {
    padding: 1rem;
  }

  .program-container,
  .program-container {
    padding-top: 1rem
  }

  .calculate-container {
    grid-template-columns: 6.5fr 5.5fr;
  }

  .marquee-bg {
    padding-block: 1.25rem;
  }

  .footer {
    padding-bottom: 2rem;
  }

  .footer-form {
    flex-direction: column;
  }

  .show-scroll {
    bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    width: 80%;
  }

  .home-container,
  .choose-container,
  .calculate-container,
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .home-data {
    padding-top: 0;
  }

  .home-data,
  .choose-content,
  .calculate-content {
    text-align: center;
  }

  .description,
  .choose-group,
  .calculate-form,
  .calculate-images {
    margin-inline: auto;
  }

  .logos-container {
    --column: 2;
  }

  .choose-group,
  .footer-copy {
    order: 1;
  }

  .choose-group,
  .calculate-images,
  .calculate-form {
    width: 100%;
  }

  .choose-group,
  .calculate-images {
    max-width: 320px;
  }

  .calculate-form {
    max-width: 505px;
    grid-template-columns: 1fr;
  }

  .calculate-form .button {
    grid-column: initial;
  }

  .footer-content {
    --column: 1;
    row-gap: 2.5rem;
  }

  .footer-group {
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 5rem;
  }
}